#myCanvas{
    border:1px solid black;
}
#points{
    position: absolute;
    left:325px;
    top :8px;
}
#startGame{
    position: absolute;
    top:650px;
    left:50px;
    border:1px solid black;
    padding:15px;
}